.orgSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #fe6763;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #fe6763;
}

.orgSection img{
    position: relative;
    left: 20px;
    cursor: pointer;
}

@media (max-width: 470px){
    .title{
        font-size: 25px;
    }
}